[submodule "aapanel"]
	path = aapanel
	url = git@github.com:antonio24073/aapanel.git
[submodule "aapanel-preinstalled"]
	path = aapanel-preinstalled
	url = git@github.com:antonio24073/aapanel-preinstalled.git
[submodule "aapanel-ubuntu-20-04-sysbox"]
	path = aapanel-ubuntu-20-04-sysbox
	url = git@github.com:antonio24073/aapanel-ubuntu-20-04-sysbox.git
